<div class="register">
<h3>Register for Sandbox</h3>

<%= form_for @user do |f| %>
  <%= f.label :name, "Name" %>:
  <%= f.text_field :name %><br>
  <%= f.label :email, "Email" %>:
  <%= f.text_field :email %><br>
  <%= f.label :password, "Password" %>:
  <%= f.password_field :password %><br>
  <%= f.submit %>

<% end %>

</div>

